body {
    background-image: url("https://buguruku.com/wp-content/uploads/2021/09/71-800x445.jpg");
    background-size: cover;
    color: white;
}

.header {
    width: 500px;
    margin: 100px auto;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(250, 223, 149, 0.219);
    color: white;
}

nav {
    padding: 10px;
    margin: 0;
    text-align: center;
}

.header form {
    margin: 45px;
    padding: 10px;
}

.header button {
    bottom: 0;
    padding: 10px;
    border-radius: 5px;
}

input {
    width: 90%;
    height: 40%;
    margin: 20px 0px;
}

h4 {
    text-align: center;
    color: black;
    font-family: Georgia;
    font-style: italic;
}
label{
    font-size: 30px;
    color: white;
}